<!DOCTYPE html>
<html>
  <head>
    <title>Spaz</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>



  <body>
    <div id="flex-content-container">
      <nav class="navbar navbar-toggleable-lg navbar-inverse bg-inverse">
      
      
        <button class="navbar-toggler ml-auto logo-box" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
      
      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <%= link_to root_path do %>
        <span class="navbar-brand logo-box">Spaz</span>
      <% end %>
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">

          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>

        
        </ul>
        <ul class="nav navbar-nav float-lg-right">
        <% if user_signed_in? %>
              <li class="user-email">
                Signed in as <%= current_user.email %>
              </li>
             
              <li class="nav-item">
                <%= link_to 'Sign out', destroy_user_session_path, method: :delete, class: 'btn btn-secondary sign-out' %>
              </li>
            <% else %>
              <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Log in!
                </button>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                  <%= link_to 'Sign in', new_user_session_path, class: 'btn btn-primary login-dropdown' %>
                  <br />
                  <%= link_to 'Sign up', new_user_registration_path, class: 'btn btn-primary login-dropdown' %>
                </div>
              </div>
            <% end %>
          </ul>
      </div>
    </nav>

    <% if notice.present? %>
      <p class="alert alert-info fade-in col-4 offset-4"><%= notice %></p>
    <% end %>
    <% if alert.present? %>
      <p class="alert alert-danger col-4 offset-4"><%= alert %></p>
    <% end %>

    <%= yield %>
  </div>

    <div id="footer">
      <div class="container text-center">
        <div class="row">
          <div class="col-4">
            <h5>Camp Masters</h5>
            
            <%= link_to 'Create Guide', new_instructor_guide_path %>
          </div>
        </div>
      </div>
    </div>

  </body>
</html>
