<!DOCTYPE html>
<html>
  <head>
    <title>Spaz</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://vjs.zencdn.net/7.6.0/video-js.css" rel="stylesheet">

  </head>



  <body>
    <div id="flex-content-container">
      <nav class="navbar navbar-toggleable-lg navbar-inverse bg-inverse">
      
      
        <button class="navbar-toggler ml-auto logo-box float-right" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
      
      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <%= link_to root_path do %>
          <span class="navbar-brand logo-box">Spaz</span>
        <% end %>
        

          <li class="nav-item">
            <%= link_to "Courses", guides_path, class: 'nav-link' %>
          </li>

        
        </ul>
        <ul class="nav navbar-nav float-lg-right">
        <% if user_signed_in? %>
              <li class="user-email">
                <%= link_to 'My Dashboard', dashboard_path, class: 'nav-link' %>
              </li>
             
              <li class="nav-item">
                <%= link_to 'Sign out', destroy_user_session_path, method: :delete, class: 'btn btn-secondary sign-out' %>
              </li>
            <% else %>
              <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Log in!
                </button>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                  <%= link_to 'Sign in', new_user_session_path, class: 'btn btn-primary login-dropdown top-login' %>
                  <br />
                  <%= link_to 'Sign up', new_user_registration_path, class: 'btn btn-primary login-dropdown' %>
                </div>
              </div>
            <% end %>
          </ul>
      </div>
    </nav>

    <% if notice.present? %>
      <p class="alert alert-info fade-in col-4 offset-4"><%= notice %></p>
    <% end %>
    <% if alert.present? %>
      <p class="alert alert-danger col-4 offset-4"><%= alert %></p>
    <% end %>

    <%= yield %>
  </div>

    <div id="footer">
      <div class="container text-center">
          <div class="row">
      <div class="col-12 col-sm-3">
        <b>Teachers</b>
        <br />
        <%= link_to 'Teach a Course', new_instructor_guide_path %>
        <br />
        <%= link_to 'My Dashboard', dashboard_path %>
      </div>
      <div class="col-12 col-sm-3">
        <b>About</b>
        <br />
        <%= link_to 'Team', team_path %>
        <br />
        <%= link_to 'Careers', careers_path %>
        <br />
        <%= link_to 'Privacy Policy', privacy_path %>
      </div>
      <div class="col-12 col-sm-3">
        <b>Contact</b>
        <br />
        joshua.bangle@gmail.com
      </div>
      <div class="col-12 col-sm-3 socials">
        <b>Social</b>
        <br />
        <%= link_to 'https://github.com/joshua-bangle' do %>
          <span class="fa fa-github-square fa-3x"></span>
        <% end %>
        <%= link_to 'https://twitter.com/KnoobLord' do %>
        <span class="fa fa-twitter-square fa-3x"></span>
        <% end %>
      </div>
    </div>
      </div>
    </div>
    <script src="https://vjs.zencdn.net/ie8/1.1.2/videojs-ie8.min.js"></script>
    <script src='https://vjs.zencdn.net/7.6.0/video.js'></script>
  </body>
</html>
